* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

.calculator {
    width: 80%;
    max-width: 400px;
    margin: 10% auto;
    padding: 50px 0 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(104, 166, 208, 0.532);
    .logo {
        width: 80%;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
            font-size: 25px;
            font-weight: 700;
        }
        .code-cal {
            font-size: 16px;
            font-weight: 400;
        }
    }
    .container {
        width: 80%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        .results {
            width: 100%;
            border-radius: 3px;
            background-color: rgb(255, 255, 255);
            .result {
                border-radius: 3px;
                border: 1px solid rgba(124, 124, 126, 0.978);
                padding: 0 20px;
                width: 100%;
                height: 60px;
            }
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: end;
            gap: 10px;
            .btn-number {
                width: calc((100% - 10px * 3) / 4);
                height: 40px;
                border-radius: 5px;
                font-size: 20px;
                font-weight: 600;
                background-color: rgb(255, 255, 255);
            }
            .btn-number:hover {
                color: #070a32;
                background-color: rgba(194, 255, 241, 0.203);
                box-shadow: 0 2px 8px rgba(4, 4, 37, 0.356);
                cursor: pointer;
            }
            .blue {
                background: rgb(25, 71, 120);
                color: rgb(255, 255, 255);
            }
            .orange {
                background: rgba(215, 129, 0, 0.816);
                color: rgb(255, 255, 255);
            }
            .green {
                width: 100%;
                height: 50px;
                background: rgba(24, 79, 86, 0.501);
                color: rgb(255, 255, 255);
            }
        }
    }
}

input {
    outline: none;
}
button {
    outline: none;
    border: none;
}


